<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Table to CSV Generator</div>

                    <div class="card-body">
                        <div class="mb-2">
                            <button
                                type="button"
                                class="btn btn-warning"
                                @click="edit()"
                            >Edit table</button>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr v-if="editMode" >
                                <td class="text-center" v-for="(column, index) in data.columns" :key="index">
                                    <button class="btn" @click="removeColumn(index, column.key)">
                                        <b-icon
                                            class="mx-auto"
                                            icon="x-square-fill"
                                            scale="2"
                                            aria-hidden="true"
                                            variant="danger"
                                        >
                                        </b-icon>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th v-for="column in data.columns" class="lightblue fixed">
                                    <input type="text"
                                           class="form-control"
                                           v-model="column.key"
                                           @input="updateColumnKey(column, $event)"
                                    />
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(row, index) in data.rows" :key="index">
                                <td v-for="(dataColumn, columnName) in row">
                                    <input type="text" class="form-control" v-model="row[columnName]"/>
                                </td>
                                <td v-if="editMode">
                                    <button class="btn" @click="removeRow(index)">
                                        <b-icon
                                            class="mx-auto"
                                            icon="x-square-fill"
                                            scale="2"
                                            aria-hidden="true"
                                            variant="danger"
                                        >
                                        </b-icon>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <button
                            type="button"
                            class="btn btn-secondary"
                            @click="addRow()"
                        >Add Row</button>

                        <b-button v-b-modal.modal-prevent-closing>Add Column</b-button>

                        <b-modal
                            id="modal-prevent-closing"
                            ref="modal"
                            title="Submit Your Name"
                            @show="resetModal"
                            @hidden="resetModal"
                            @ok="handleOk"
                        >
                            <form ref="form" @submit.stop.prevent="addColumn">
                                <b-form-group
                                    label="Column name"
                                    label-for="column-input"
                                    invalid-feedback="Column name is required"
                                    :state="nameState"
                                >
                                    <b-form-input
                                        id="column-input"
                                        v-model="newColumn"
                                        :state="nameState"
                                        required
                                    ></b-form-input>
                                </b-form-group>
                            </form>
                        </b-modal>
                    </div>

                    <div class="card-footer text-right">
                        <button
                            class="btn btn-primary"
                            type="button"
                            @click="submit()"
                        >Export</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CSVGenerator",

        data() {
            return {
                data: {
                    rows: [
                        {
                            first_name: 'John',
                            last_name: 'Doe',
                            email_address: 'john.doe@example.com'
                        },
                        {
                            first_name: 'Jane',
                            last_name: 'Doe',
                            email_address: 'Jane.doe@example.com'
                        },
                    ],
                    columns: [
                        {key: 'first_name'},
                        {key: 'last_name'},
                        {key: 'email_address'},
                    ],
                },
                editMode: false,
                name: '',
                nameState: null,
                submittedNames: [],
                newColumn: '',
                columnName: '',
            }
        },

        methods: {

            checkFormValidity() {
                const valid = this.$refs.form.checkValidity()
                this.nameState = valid
                return valid
            },
            resetModal() {
                this.name = ''
                this.nameState = null
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault()
                this.addColumn()
            },

            addRow() {
                let keys = this.setColumnKeys();
                this.data.rows.push(keys);
            },

            removeRow(row_index) {
                console.log(row_index);
                this.data.rows.splice(row_index, 1);
            },

            setColumnKeys() {
                let keyValuePairs = {};
                this.data.columns.forEach(
                    element => {
                        keyValuePairs[element.key] = '';
                    });
                return keyValuePairs;
            },

            addColumn() {
                if (!this.checkFormValidity()) {
                    return
                }
                this.data.columns.push({key: this.newColumn});
                this.data.rows.forEach( row => {
                    row[this.newColumn] = '';
                });

                this.$nextTick(() => {
                    this.$bvModal.hide('modal-prevent-closing')
                })
            },

            removeColumn(column_index, column_data){
                this.data.columns.splice(column_index, 1);
                this.data.rows.forEach( (row) => {
                    delete row[column_data];
                })
            },

            updateColumnKey(column, event) {
                let oldKey = column.key;

                let columnKeyExists = !!this.data.columns.find(column => column.key === event.target.value);

                column.key = event.target.value;

            },

            edit() {
                this.editMode = !this.editMode;
            },

            submit() {
                console.log(this.data);
                return axios.post('/api/csv-export', {
                    data: this.data,
                    _method: 'patch'
                })
                .then(function (response) {
                    // console.log(response);
                })
                .catch(function (error) {
                    // console.log(error);
                });
            }
        },

        watch: {
        }
    }
</script>

<style scoped>
    .lightblue {
        background-color: lightblue;
    }
    .fixed {
        min-width: 15rem;
    }
    .container {
        overflow-x: auto;
    }
</style>
